* {
  all: unset;
}

.bar {
  font-size: 13;
  font-weight: bold;
  font-family: JetBrainsMono Nerd Font;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.bar-inner {
  background-color: #000000;
  color: #a0a0a0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #404040;
  border-radius: 5px;
}

.icon {
  margin-right: 5px;
}

.right {
  box {
    margin-left: 15px;
  }
}

.left {
  box {
    margin-right: 15px;
  }
}

.workspace {
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: #505050;
  transition: color 300ms;
}

.workspace:hover {
  color: #a0a0a0;
}

.workspace.active {
  color: #a0a0a0;
}
